punit-report/src/main/resources/org/javai/punit/report/punit-verdict.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://javai.org/punit/report"
           xmlns:tns="http://javai.org/punit/report"
           elementFormDefault="qualified">

    <xs:element name="punit-verdict" type="tns:PunitVerdictType"/>

    <xs:complexType name="PunitVerdictType">
        <xs:all>
            <xs:element name="identity" type="tns:IdentityType"/>
            <xs:element name="execution" type="tns:ExecutionType"/>
            <xs:element name="functional" type="tns:FunctionalType" minOccurs="0"/>
            <xs:element name="latency" type="tns:LatencyType" minOccurs="0"/>
            <xs:element name="statistics" type="tns:StatisticsType"/>
            <xs:element name="covariates" type="tns:CovariatesType"/>
            <xs:element name="cost" type="tns:CostType"/>
            <xs:element name="pacing" type="tns:PacingType" minOccurs="0"/>
            <xs:element name="provenance" type="tns:ProvenanceType" minOccurs="0"/>
            <xs:element name="termination" type="tns:TerminationType"/>
            <xs:element name="environment" type="tns:EnvironmentType" minOccurs="0"/>
            <xs:element name="verdict" type="tns:VerdictType"/>
        </xs:all>
        <xs:attribute name="version" type="xs:string" use="required"/>
        <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>
        <xs:attribute name="correlation-id" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Identity -->
    <xs:complexType name="IdentityType">
        <xs:attribute name="class-name" type="xs:string" use="required"/>
        <xs:attribute name="method-name" type="xs:string" use="required"/>
        <xs:attribute name="use-case-id" type="xs:string"/>
    </xs:complexType>

    <!-- Execution -->
    <xs:complexType name="ExecutionType">
        <xs:attribute name="planned-samples" type="xs:int" use="required"/>
        <xs:attribute name="samples-executed" type="xs:int" use="required"/>
        <xs:attribute name="successes" type="xs:int" use="required"/>
        <xs:attribute name="failures" type="xs:int" use="required"/>
        <xs:attribute name="min-pass-rate" type="xs:double" use="required"/>
        <xs:attribute name="observed-pass-rate" type="xs:double" use="required"/>
        <xs:attribute name="elapsed-ms" type="xs:long" use="required"/>
        <xs:attribute name="applied-multiplier" type="xs:double"/>
        <xs:attribute name="intent" type="xs:string" use="required"/>
        <xs:attribute name="confidence" type="xs:double" use="required"/>
    </xs:complexType>

    <!-- Functional -->
    <xs:complexType name="FunctionalType">
        <xs:attribute name="successes" type="xs:int" use="required"/>
        <xs:attribute name="failures" type="xs:int" use="required"/>
        <xs:attribute name="pass-rate" type="xs:double" use="required"/>
    </xs:complexType>

    <!-- Latency -->
    <xs:complexType name="LatencyType">
        <xs:sequence>
            <xs:element name="distribution" type="tns:DistributionType" minOccurs="0"/>
            <xs:element name="assertions" type="tns:AssertionsType" minOccurs="0"/>
            <xs:element name="caveats" type="tns:CaveatsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="successful-samples" type="xs:int" use="required"/>
        <xs:attribute name="total-samples" type="xs:int" use="required"/>
        <xs:attribute name="skipped" type="xs:boolean" use="required"/>
        <xs:attribute name="skip-reason" type="xs:string"/>
        <xs:attribute name="dimension-successes" type="xs:int" use="required"/>
        <xs:attribute name="dimension-failures" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="DistributionType">
        <xs:attribute name="p50" type="xs:long" use="required"/>
        <xs:attribute name="p90" type="xs:long" use="required"/>
        <xs:attribute name="p95" type="xs:long" use="required"/>
        <xs:attribute name="p99" type="xs:long" use="required"/>
        <xs:attribute name="max" type="xs:long" use="required"/>
    </xs:complexType>

    <xs:complexType name="AssertionsType">
        <xs:sequence>
            <xs:element name="percentile" type="tns:PercentileType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PercentileType">
        <xs:attribute name="label" type="xs:string" use="required"/>
        <xs:attribute name="observed" type="xs:long" use="required"/>
        <xs:attribute name="threshold" type="xs:long" use="required"/>
        <xs:attribute name="passed" type="xs:boolean" use="required"/>
        <xs:attribute name="indicative" type="xs:boolean" use="required"/>
        <xs:attribute name="source" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="CaveatsType">
        <xs:sequence>
            <xs:element name="caveat" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Statistics -->
    <xs:complexType name="StatisticsType">
        <xs:sequence>
            <xs:element name="baseline" type="tns:BaselineType" minOccurs="0"/>
            <xs:element name="caveats" type="tns:CaveatsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="confidence-level" type="xs:double" use="required"/>
        <xs:attribute name="standard-error" type="xs:double" use="required"/>
        <xs:attribute name="ci-lower" type="xs:double" use="required"/>
        <xs:attribute name="ci-upper" type="xs:double" use="required"/>
        <xs:attribute name="test-statistic" type="xs:double"/>
        <xs:attribute name="p-value" type="xs:double"/>
        <xs:attribute name="threshold-derivation" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="BaselineType">
        <xs:attribute name="source-file" type="xs:string" use="required"/>
        <xs:attribute name="generated-at" type="xs:dateTime" use="required"/>
        <xs:attribute name="samples" type="xs:int" use="required"/>
        <xs:attribute name="successes" type="xs:int" use="required"/>
        <xs:attribute name="rate" type="xs:double" use="required"/>
        <xs:attribute name="derived-threshold" type="xs:double" use="required"/>
    </xs:complexType>

    <!-- Covariates -->
    <xs:complexType name="CovariatesType">
        <xs:sequence>
            <xs:element name="misalignment" type="tns:MisalignmentType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="aligned" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="MisalignmentType">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="baseline-value" type="xs:string" use="required"/>
        <xs:attribute name="test-value" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Cost -->
    <xs:complexType name="CostType">
        <xs:sequence>
            <xs:element name="class-budget" type="tns:BudgetSnapshotType" minOccurs="0"/>
            <xs:element name="suite-budget" type="tns:BudgetSnapshotType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="method-tokens" type="xs:long" use="required"/>
        <xs:attribute name="method-time-budget-ms" type="xs:long" use="required"/>
        <xs:attribute name="method-token-budget" type="xs:long" use="required"/>
        <xs:attribute name="token-mode" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="BudgetSnapshotType">
        <xs:attribute name="time-budget-ms" type="xs:long" use="required"/>
        <xs:attribute name="elapsed-ms" type="xs:long" use="required"/>
        <xs:attribute name="token-budget" type="xs:long" use="required"/>
        <xs:attribute name="tokens-consumed" type="xs:long" use="required"/>
    </xs:complexType>

    <!-- Pacing -->
    <xs:complexType name="PacingType">
        <xs:attribute name="max-rps" type="xs:double" use="required"/>
        <xs:attribute name="max-rpm" type="xs:double" use="required"/>
        <xs:attribute name="max-rph" type="xs:double" use="required"/>
        <xs:attribute name="max-concurrent" type="xs:int" use="required"/>
        <xs:attribute name="effective-min-delay-ms" type="xs:long" use="required"/>
        <xs:attribute name="effective-concurrency" type="xs:int" use="required"/>
        <xs:attribute name="effective-rps" type="xs:double" use="required"/>
    </xs:complexType>

    <!-- Provenance -->
    <xs:complexType name="ProvenanceType">
        <xs:sequence>
            <xs:element name="expiration" type="tns:ExpirationType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="origin" type="xs:string" use="required"/>
        <xs:attribute name="contract-ref" type="xs:string"/>
        <xs:attribute name="spec-filename" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ExpirationType">
        <xs:attribute name="status" type="xs:string" use="required"/>
        <xs:attribute name="expires-at" type="xs:dateTime"/>
        <xs:attribute name="requires-warning" type="xs:boolean" use="required"/>
    </xs:complexType>

    <!-- Termination -->
    <xs:complexType name="TerminationType">
        <xs:attribute name="reason" type="xs:string" use="required"/>
        <xs:attribute name="details" type="xs:string"/>
    </xs:complexType>

    <!-- Environment -->
    <xs:complexType name="EnvironmentType">
        <xs:sequence>
            <xs:element name="entry" type="tns:EnvironmentEntryType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EnvironmentEntryType">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Verdict -->
    <xs:complexType name="VerdictType">
        <xs:attribute name="junit-passed" type="xs:boolean" use="required"/>
        <xs:attribute name="punit-verdict" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>
